@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primaryColor: #ff702a;
    --secondaryColor: #1e1d2b;
    --terciaryColor: #ffefe8;
    --colorMovile: #2c2b47;

    --white: #FFFFFF;
    --back: #000;

    --fuente: 'Poppins', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: var(--fuente);
}

body {
    background-color: var(--secondaryColor);
}

h1, h2, h3 {
    color: var(--primaryColor);
    font-weight: 400;
}
p {
    color: var(--white);
    font-weight: 200;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* HEADER Y NAVEGACION */

header {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
}

.titleHeader {
    font-size: 1.5rem;
    padding-left: 3%;
}

.navBar {
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    margin: 0;
}

a {
    padding: 10px;
    text-decoration: none;
    color: var(--white);
    font-size: 1.1rem;
    transition: transform 0.3s ease-in-out;
}
a:hover {
    color: var(--primaryColor);
    background-color: var(--white);
    border-radius: .5rem;
    transform: scale(1.1);
    padding: 10px;
}

@media screen {
    
}

/* GENERAL STYLES */

.sections {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    justify-content: center;
    align-items: center;
}
.items {
    display: grid;
    grid-template-rows: auto auto auto;
    gap: 30px;
}

.subTitulo {
    color: var(--white);
    font-size: 3rem;
    font-weight: 400;
    text-align: center;
    padding-top: 2rem;
}

/* HOME */
 
.titleHome {
    margin: 0px;
    font-size: 8rem;

}

.pHome {
    font-size: 2rem;
}


button {
    background-color: var(--primaryColor);
    color: var(--white);
    border: none;
    padding: 15px;
}
button:hover {
    border: var(--back);
    background-color: var(--white);
    color: var(--primaryColor);
}

.contImg {
    display: flex;
    justify-content: center;
}
.imgHome {
    max-width: 500px;
    max-height: 500px;
    margin: 0;
}

/* ABOUT US */ 

.subtitleAbout {
    color: var(--white);
    font-size: 3rem;
    font-weight: 400;
}
.pAbout {
    color: var(--white);
}
.tAbout {
    font-size: 1.5rem;
}

/* FOOD MENU */

.tFood {
    text-align: center;
    font-size: 1.5rem;
}

.txtFood {
    color: var(--back);
    font-size: 2rem;
    font-weight: 300;
}
.precio {
    padding-top: 1rem;
    color: var(--primaryColor);
    font-weight: 400;
}

.foodMenu {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5rem;
    gap: 5rem;
}

.itemFood {
    background-color: var(--terciaryColor);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
    text-align: center;
    border: double .6rem var(--back);
}

.icon {
    width: 25px;
}

/* SERVICES */
.srvMenu {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;  
    text-align: center;
    gap: 3rem;
}
.tService {
    text-align: center;
    font-size: 1.5rem;
}

.imgServ {
    max-width: 300px;
    max-height: 300px;
}
.service {
    color: var(--primaryColor);
    font-weight: 400;
    font-size: 1.4rem;
}
.txtService {
    color: var(--white);
    font-size: 1.2rem;
}

/* FINAL SECTION */
.tEnd {
    color: var(--back);
}

.contEnd {
    margin: auto;
    width: 80%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: var(--terciaryColor);
    padding: 5rem;

    border: double .5rem var(--back);
}

/* FOOTER */

.contFooter {
    display: flex;
    justify-content: space-evenly;
}
.tFooter {
    color: var(--white);
    font-size: 1.7rem;
}

.subFooter {
    padding-top: 4rem;
}

.contTitulo {
    color: var(--white);
    border-bottom: 3px solid var(--primaryColor);
}
.contInfo {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
}

.txtFooter {
    color: var(--white);
    font-size: 1.3rem;
}

.contContacto {
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    gap: 1rem;
}

.circulo {
    background-color: var(--primaryColor);
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
}